<!-- <h3>Listings</h3>

<%= form_tag(listings_path, method: :get, remote: true) do %>
  <%= text_field_tag :term, params[:term], placeholder: "Enter country" %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
 -->
<%= link_to 'Create a new listing here', new_listing_path %>

<% if signed_in? && !current_user.listings.nil? %>
<%= link_to 'View your listings', user_listings_path(current_user) %>
<% end %>

<div id="listing-lists">
<%= render 'list', object: @listings %>
</div>