
<h1><%= @listing.name %></h1>


<p>Location: <%= @listing.country %></p>

<p>Place type: <%= @listing.place_type %></p>

<p>Property type: <%= @listing.property_type %></p>

<p>Number of rooms: <%= @listing.room_number %></p>

<p>Number of beds: <%= @listing.bed_number %></p>

<p>Max. number of guests allowed: <%= @listing.guest_number %></p>

<p>Price: RM<%= @listing.price %></p>

<p>Description: <%= @listing.description %></p>

<p>Amenities: <%= raw @listing.amenity_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<p>Facilities: <%= raw @listing.facility_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<p>House Rules: <%= raw @listing.rule_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

 <% if current_user && current_user.id != @listing.user.id %>
<label for="from">Check In</label>
<input type="text" id="from" name="from">
<label for="to">Check Out</label>
<input type="text" id="to" name="to">
<% end %>

<% if current_user && current_user.id == @listing.user.id %>
<%= link_to 'Edit your listing', edit_user_listing_path(current_user, @listing) %>
<% end %>

<p>Hosted by: <%= link_to @listing.name, user_path(@listing.user) %></p>

