<h1>Edit your profile</h1>

<%= form_for @user do |f| %>
	First Name: <%= f.text_field :first_name %><br />
	Last Name: <%= f.text_field :last_name %><br />
	Birth Date: <%= f.date_field :birthdate %><br />
	Phone: <%= f.phone_field :phone %><br />
	Country: <%= f.text_field :country %><br />
<div class="field">    
   <%= f.label :gender %></br>
   <span class="option">Male<span><%= f.radio_button :gender, "m" %></br>
   <span class="option">Female<span><%= f.radio_button :gender, "f" %></br>
</div>


<div class="file-field">
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
</div>


	<%= f.submit %>
<% end %>